ul.pallete {
  float:left;
  width:48%;
  list-style-type: none;
  margin: 0 1% 1.5%;
  padding: 0;
  display: block;
  padding:15px 15px 7px 15px;
  //background:rgba(0,0,0,0.1);
}
li.pallete {
  display: block;
  float: left;
  width: 20%;
}
li>input {
  font-family: 'Arial', sans-serif;
  display: block;
  width: 100%;
  border: 0;
  height: 100px;
  outline:0px;
  text-align: center;
  color:#fff;
  font-size:13px;
  border-radius:0px;
  cursor:pointer;
  position: relative;
  top:0px;
}
li>input:hover{
  position: relative;
  top:-5px;
}