<div id="page_content">
    <div id="page_heading">
        <h1>Figuur: {{figure.title}}</h1>
    </div>

    <div id="page_content_inner">
        <form action="" class="uk-form-stacked" id="product_edit_form">
            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                <div class="uk-width-xLarge  uk-width-large">
                    <div class="md-card">
                        <div class="md-card-toolbar subitem">
                            <h3 class="md-card-toolbar-heading-text subitem">
                                Details
                            </h3>
                        </div>
                        <div class="md-card-content large-padding">
                        <div class="uk-grid uk-grid-medium">
                    <div class="uk-width-medium-1-2">
                            <div class="parsley-row uk-margin-medium-bottom">
                                <label for="figure_name">Naam</label>
                                <input type="text" class="md-input" name="figure_name" id="figure_name" ng-model="figure.title" md-input required/>
                            </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label for="email">Geslacht</label>
                        </div>
                        <div class="uk-width-medium-1-1 parsley-row">
                            <span class="icheck-inline">
                                        <input type="radio" name="radio_male" id="radio_male" icheck ng-model="figure.male" ng-value="true" />
                                        <label for="radio_male" class="inline-label">Man</label>
                                    </span>
                            <span class="icheck-inline">
                                        <input type="radio" name="radio_female" id="radio_female" icheck ng-model="figure.male" ng-value="false" />
                                        <label for="radio_female" class="inline-label">Vrouw</label>
                                    </span>
                        </div>
                    </div>
                    </div>
                            <div class="uk-grid uk-grid-divider uk-grid-medium">
                                <div class="uk-width-large-1-2">
                                    <div class="uk-form-row">
                                        <label for="figure_image">Figuur afbeelding:</label>
                                    </div>
                                    <div class="uk-form-row">
                                        <img ng-src="{{figure.img}}" alt="Picture of figure {{figure.title}}"/>
                                        <!-- <div ng-if="figure.img" class="md-btn md-btn-primary"> change picture </div>
                                        <div ng-if="!figure.img" class="md-btn md-btn-primary"> add picture </div> -->
                                    </div>
                                </div>
                                <div class="uk-width-large-1-2">
                                    <div class="uk-form-row uk-margin-medium-bottom">
                                        <div class="parsley-row">
                                            <label for="figure_info">Info</label>
                                            <textarea class="md-input" name="figure_info" id="figure_info" ng-model="figure.info" md-input required textarea-autosize></textarea>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="parsley-row">
                                            <label for="figure_advice">Advies</label>
                                            <textarea class="md-input" name="figure_advice" id="figure_advice" ng-model="figure.advice" md-input required textarea-autosize></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card">
                        <div class="md-card-toolbar subitem">
                            <h3 class="md-card-toolbar-heading-text subitem">
                                Do's & Dont's
                            </h3>
                        </div>
                        <div class="md-card-content large-padding">
                            <div class="uk-grid uk-grid-divider uk-grid-medium">
                                <div class="uk-width-large-1-2">
                                    <div class="uk-form-row">
                                        <label for="figure_image"><b>Do's:</b></label>
                                    </div>
                                    <div class="uk-form-row">
                                    <table class="uk-table">
                                        <tbody>
                                            <tr ng-repeat="do in figure.dos track by $index" style="border-style:hidden;">
                                                <td><input type="text" class="md-input md-input-width-medium" ng-model="figure.dos[$index]" md-input /></td>
                                                <td class="uk-text-right uk-text-middle"><a title="verwijder" ng-click="figure.dos.splice($index, 1)"><i class="md-icon material-icons md-24">&#xE872;</i></a></td>
                                            </tr>
                                            <tr style="border-style:hidden;">
                                                <td><a ng-click="figure.dos.push('')"><i title="toevoegen" class="md-icon material-icons md-24">&#xE145;</i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-2">
                                    <div class="uk-form-row">
                                        <label for="figure_image"><b>Dont's:</b></label>
                                    </div>
                                    <div class="uk-form-row">
                                    <table class="uk-table">
                                        <tbody>
                                            <tr ng-repeat="dont in figure.donts track by $index" style="border-style:hidden;">
                                                <td><input type="text" class="md-input md-input-width-medium" ng-model="figure.donts[$index]" md-input /></td>
                                                <td class="uk-text-right uk-text-middle"><a title="verwijder" ng-click="figure.donts.splice($index, 1)"><i class="md-icon material-icons md-24">&#xE872;</i></a></td>
                                            </tr>
                                            <tr style="border-style:hidden;">
                                                <td><a title="toevoegen" ng-click="figure.donts.push('')"><i class="md-icon material-icons md-24">&#xE145;</i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="md-fab-wrapper">
    <button title="opslaan" class="md-fab md-fab-primary md-btn-primary" ng-click="saveFigure()">
        <i class="material-icons">&#xE161;</i>
    </button>
</div>