<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card-content">
            <div class="uk-grid uk-grid-width-large1-1" data-uk-grid="{gutter:24}">
                <div>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h1 class="md-card-toolbar-heading-text large-heading">
                                {{user.username}}
                                <small></small>
                            </h1>
                        </div>
                        <div class="md-card-content">
                            <p>Hallo {{user.username}}, hieronder staat uw passport en alle beschikbare info.</p>
                            <!-- no content in main card yet -->
                        </div>
                        <!-- 'sub item content' -->
                        <div class="md-card-content">
                            <div>
                                <div class="md-card subitem">
                                    <div class="md-card-toolbar subitem">
                                        <h3 class="md-card-toolbar-heading-text subitem">
                                            Season
                                        </h3>
                                    </div>
                                    <div class="md-card-content subitem">
                                        <p>U bent een <b>'{{user.passport.season.name}}'</b>. Dat betekend dat de volgende kleuren u zullen staan:</p>
                                        <div class="uk-margin-bottom">
                                        <!-- ugly border for now, because of possible white color -->
                                            <div id="palette" style="border:solid 0.1px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- 'sub item content' -->
                        <div class="md-card-content">
                            <div>
                                <div class="md-card subitem">
                                    <div class="md-card-toolbar subitem">
                                        <h3 class="md-card-toolbar-heading-text subitem">
                                            Figure
                                        </h3>
                                    </div>
                                    <div class="md-card-content subitem">
                                        <p>U heeft het figuur <b>'{{user.passport.figure.title}}'</b>, hieronder staat informatie, advies en de do's en dont's van dit figuur</p>
                                        <p>Some info: {{user.passport.figure.info}}</p>
                                        <p>Some advices: {{user.passport.figure.advice}}</p>

                                        <p>Do's:
                                        <ul>
                                            <li ng-repeat="do in user.passport.figure.dos">
                                                {{do}}
                                            </li>
                                        </ul></p>

                                        <p>Dont's:
                                        <ul>
                                            <li ng-repeat="dont in user.passport.figure.donts">
                                                {{dont}}
                                            </li>
                                        </ul></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
