    <!-- bartimeus stylesheet -->
    <link rel="stylesheet" href="assets/css/bartimeus.css" media="all" id="main_stylesheet">

    <div ng-if="showSignButton" class="intro-text">
        <div class="intro-lead-in">
            Welkom bij Bartiméus
        </div>
        <div class="intro-heading">
            OOGVERBLINDEND MOOI
        </div>
        <aui-sref="bartimeus.signup" class="md-btn md-btn-xl md-btn-primary">
                            Aanmelden voor PEPdag
                        </a>
    </div>

    <!-- bartimeus main content -->
    <div ui-view ng-class="{ 'uk-height-1-1': page_full_height }"></div>

    <!-- style switcher -->
    <!-- <style-switcher></style-switcher> -->